@import '../../styles/base/base';

.notifications-icon {
    align-self: center;
    background-color: $color-transparent;
    border: 0;
    border-radius: 4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
    width: 4rem;

    &:active,
    &:focus {
        outline: none;
    }

    &:hover,
    &:focus {
        background-color: $color-gray-6;
    }

    &:active {
        background-color: $color-gray-5;
    }

    &__badge {
        visibility: hidden; //default badge state invisible
    }

    &--has-notifications .notifications-icon__badge {
        visibility: visible;
    }
}
