@import '../../styles/base/base';
@import '../../styles/mixins/index';

.reservation-nav {
    $_this: &;

    align-items: center;
    border: 0.1rem solid $color-gray-4;
    border-radius: 0.4rem;
    color: $color-gray-5;
    display: flex;
    font-size: $font-size-big;
    justify-content: space-evenly;
    margin: 1rem 0 5rem;
    padding: 0.6rem 0.5rem 0.5rem;
    text-align: center;
    transition: 0s;
    width: 100%;

    &__link {
        align-items: center;
        color: $color-gray-2;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        text-decoration: none;

        &:hover {
            color: $color-gray-1;

            #{$_this}__icon {
                transform: rotate(360deg);
                transition: 0.5s ease-in-out;
            }
        }

        &:active {
            transform: scale(1.03);
        }

        &--is-active {
            color: $color-disabled-2;
            pointer-events: none;
        }
    }

    &__icon {
        margin-right: 1rem;
    }

    &__link-title {
        @include respond-to(600, max) {
            display: none;
        }
    }
}
