@import '../../styles/base/base';

.user-profile-widget {
    $this: &;

    position: relative;

    &__button {
        background-size: cover;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        height: 4rem;
        outline: none;
        width: 4rem;
    }

    &__arrow {
        bottom: 0.1rem;
        position: absolute;
        right: -0.1rem;
        transition: all 0.4s ease;
        z-index: $z-index-1;
    }

    &.is-open {
        #{$this}__arrow {
            transform: rotate(180deg);
        }
    }
}
