@import '../../styles/base/base';
@import '../../styles/mixins/index';

.likes {
    align-items: center;
    display: inline-flex;
    padding-right: 1rem;

    &__wished-icon {
        path:nth-of-type(2) {
            fill: $color-warning;
        }

        path:nth-of-type(3) {
            fill: $color-error;
        }
    }

    &__liked-icon {
        color: $color-error;
        fill: $color-error;
    }

    &--restaurant {
        padding-right: 0;
    }
}
