.container {
    display: flex;

    &--full-page {
        flex-direction: row;
        min-height: 100vh;
        min-width: 32rem;
    }

    &--main-area {
        background-color: $color-gray-7;
        flex-direction: column;
        flex-grow: 1;
        min-height: 100vh;
    }
}
